html,body{
    height:100%;
    width:100%;
}

* {
    box-sizing: border-box;
  }



.bodyContainer{
    display:grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 100px auto;
    grid-template-areas: "header library"
                         "sidebar library";
    margin-top:0;
    margin-left:0;
}

/*header*/

.headerContainer{
    grid-area: header;
    background-color: lightblue;
    border-right: 2px solid black;
    font-family: 'Anton', sans-serif;
}

.header{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}

/* sidebar */

.sidebarContainer{
    grid-area: sidebar;
    background-color: lightblue;
    text-align: center;
    border-right: 2px solid black;
    font-family: 'Anton', sans-serif;
}

.btnNewBook{
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    padding: 20px;
    background-color:lightgreen;
    border:none;
    margin-top:30px;
    margin-bottom:25px;
    border-radius:5px;
}

.statContainer{
    margin-left:50px;
    margin-right:50px;
    font-size: 25px;
}

/* library */

.bookContainer{
    grid-area: library;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.bookCard{
    display: block;
    border: thin solid gray;
    border-radius:10px;
    background-color: #D3D3D3;
    text-align: center;
    width: 400px;
    height: 300px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    padding-top: 35px;
}

.title{
    padding-top: 10px;
}

.author{
    padding-top: 10px;
}

.pages{
    padding-top: 10px;
}

.read{
    padding-top: 10px;
}

.readStatus{
   background-color:lightgreen;
   border:none;
   font-family: 'Lato', sans-serif;
   font-size: 20px;
   margin: 25px 35px 0px 0px;
   padding: 15px; 
   border-radius:5px;
}

.deleteBook{
   font-family: 'Lato', sans-serif;
   font-size:20px;
   padding: 15px 31px 15px 31px;
   background-color:#CC0000;
   border: none;
   border-radius:5px;
}

/* form */

.formContainer{
    display: none;
    position: fixed;
    z-index:1;
    width:100%;
    height:100%;
/*  top: 35%;
    left: 45%; */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.formPopup{
    background-color: #D1EEEE;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 5px;
    width: 400px;
    height: 450px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

.formHeader{
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
}

.formInput{
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #888;
    height: 40px;
    width: 90%;
    font-size: 20px;
}

#hasRead{
    height: 25px;
    width: 25px;
    margin-left: 20px;
}

.btnAddBook{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 15px;
    margin: 20px 15px 0px 0px;
    width: 100px;
}

.btnCloseForm{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 15px;
    width: 100px;
}

/* Required Field */

.requiredField{
    border: 2px solid red;
}