

* {
    box-sizing: border-box;
  }

.bodyContainer{
    display:grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 150px auto;
    grid-template-areas: "header header"
                         "sidebar library";

}

.headerContainer{
    grid-area: header;
}

.sidebarContainer{
    grid-area: sidebar;
}

/* library */

.bookContainer{
    grid-area: library;
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: start;
    gap: 20px;
    
}

.bookCard{
    border: thin solid gray;
    text-align: center;
    width: 100%;
    height: 300px;
    font-size: 25px;
}

.title{
    padding-top: 10px;
}

.author{
    padding-top: 10px;
}

.pages{
    padding-top: 10px;
}

.read{
    padding-top: 10px;
}

/* form */

.formContainer{
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
}