html, body{
    height: 100%;
    width: 100%;
}

.bodyContainer{
    display:grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 150px auto;
    grid-template-areas: "header header"
                         "sidebar library";

}

.headerContainer{
    grid-area: header;
}

.sidebarContainer{
    grid-area: sidebar;
}

.bookContainer{
    display: flex;
    grid-area: library;
}

.formContainer{
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
}